.site-footer {
  font-size: .75rem;

  ul {
    padding: 0;
    margin: .25em;
    list-style-type: none;

    li {
      display: inline-block;

      + li::before {
        content: " | ";
      }
    }
  }

  a {
    color: #000;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}
