html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  width: 500vw;
  transition: all .5s;
}

.backplate {
  position: fixed;
  z-index: -1;
  width: 500%;
  height: 100%;
}

.step {
  float: left;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  > header {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid #fff;
  }

  > .content {
    text-align: center;
    padding: 3em .5em 4em;
    flex: 0;
  }
}

.input {
  justify-content: center;
  display: flex;
  align-items: flex-end;
  margin-top: 2em;
}

p + p {
  margin-top: 0;
}
